@model AppRestaurante.ViewModel.ItemViewModel

<fieldset>
    <legend>Atualizar Item</legend>

    @using (Html.BeginForm("UpdateItem", "Item", FormMethod.Post, new { @id="formUpdate"}))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <span>Item:</span>
                    @Html.DropDownList("selectItem", new SelectList((IEnumerable<SelectListItem>)ViewData["AllItens"], dataValueField: "Value", dataTextField: "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(m => m.ItemName, new { style = "font-size: 12pt;" })
                @Html.TextBoxFor(m => m.ItemName, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ItemName, null, new { style = "font-size: 12pt;", @class = "text-danger" })
            </div>

            <div class="col-md-4">
                @Html.LabelFor(m => m.ItemPrice, new { style = "font-size: 12pt;" })
                @Html.TextBoxFor(m => m.ItemPrice, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ItemPrice, null, new { style = "font-size: 12pt;", @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.ItemCategory, new { style = "font-size: 12pt;" })
                @Html.DropDownListFor(m => m.ItemCategory, (IEnumerable<SelectListItem>)ViewData["ItensCategory"], new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ItemCategory, null, new { style = "font-size: 12pt;", @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-success">Alterar</button>
            </div>
        </div>

        @Html.HiddenFor(m => m.ItemId, new { @id = "hdIdUpdate" })
        @Html.ValidationSummary(false, null, new { style = "font-size: 10pt;", @class = "text-danger fw-bold" })
    }
</fieldset>

<script type="text/javascript" src="~/Scripts/Item/updateItens.js"></script>